body {
  font-family: "Roboto Mono", monospace;
  background: rgb(200, 200, 200);
}

.topNav {
  height: 5rem;
}

.left {
  display: block;
}

.leftNav {
  width: 100%;
}

.content {
  background: lightgrey;
  /* height: 30rem; */
  padding: 2rem;
}
